<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8d73af7e-f3e6-4ffc-bab5-31ef9ce42085" Alias="blog" Level="1">
  <Info>
    <Name>Blog</Name>
    <Icon>icon-book color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="4de3c035-5efd-489f-a84c-a845c90ed8b4">titleBox</Composition>
    </Compositions>
    <DefaultTemplate>Blog</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c475d602-d338-4517-99b0-1d3cd1c09c4d">Blog</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="77488c5b-db01-407b-ab7d-0737493a6c44" SortOrder="0">blogItem</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>1c3b7d93-bde6-4002-85e5-0629399bcadc</Key>
      <Name>Featured Story</Name>
      <Alias>featuredStory</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>eac3fc36-99a2-4910-bdf4-86f4da704973</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>