<?xml version="1.0" encoding="utf-8"?>
<Media Key="066c261a-ffca-4d7d-99b7-d87e89711640" Alias="Image (69)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image69</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (69)" />
    <SortOrder>75</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fmtgybwk/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>