<?xml version="1.0" encoding="utf-8"?>
<Media Key="3941d27f-d45a-461f-aefa-a4a628cb087d" Alias="Image (26)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image26</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:08:21</CreateDate>
    <NodeName Default="Image (26)" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/j1jecok0/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>