<?xml version="1.0" encoding="utf-8"?>
<Media Key="771e8925-272b-4036-94b5-4994b1658da5" Alias="Image (95)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image95</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (95)" />
    <SortOrder>101</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cseb23zl/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>