<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd1008de-070d-4102-88ce-88496f182162" Alias="Image (49)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image49</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:12</CreateDate>
    <NodeName Default="Image (49)" />
    <SortOrder>55</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/32ebb5in/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>