<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a991af4-3a24-45c7-8c24-59138491a5ae" Alias="Image (27)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image27</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:08:21</CreateDate>
    <NodeName Default="Image (27)" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yunjsgre/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>