<?xml version="1.0" encoding="utf-8"?>
<Media Key="53c3dc8d-8d87-4e03-9a98-2f1d1093ec40" Alias="Image (34)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image34</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:08:21</CreateDate>
    <NodeName Default="Image (34)" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xtomgu2h/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>