<?xml version="1.0" encoding="utf-8"?>
<Media Key="38d5b78f-7d79-457b-8428-d10d3abb8abe" Alias="Image (28)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image28</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:08:21</CreateDate>
    <NodeName Default="Image (28)" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x01nkodz/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>