<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d215eff-7428-47f5-a32f-e4dfc183fddd" Alias="Image (90)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image90</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (90)" />
    <SortOrder>96</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zzpcchji/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>