<?xml version="1.0" encoding="utf-8"?>
<Media Key="3cb99d5a-e909-46c5-abff-60cb4b2a0051" Alias="Image (93)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image93</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (93)" />
    <SortOrder>99</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/noolspaj/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>