<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f955e74-5409-4ead-bac1-16f1d98aebf8" Alias="Image (35)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image35</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:08:21</CreateDate>
    <NodeName Default="Image (35)" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ivpjkdyj/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>