<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c4c9676-0d84-426a-8e0d-2574aabfd269" Alias="Image (98)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image98</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (98)" />
    <SortOrder>104</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i4leytee/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>