<?xml version="1.0" encoding="utf-8"?>
<Media Key="c60317c5-5970-454b-a15a-c383dfae965e" Alias="Image (31)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image31</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:08:21</CreateDate>
    <NodeName Default="Image (31)" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4qlbhrtq/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>