<?xml version="1.0" encoding="utf-8"?>
<Media Key="f423be0d-a5bd-4b1d-a092-22fc33f377dc" Alias="Image (17)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image17</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:06:06</CreateDate>
    <NodeName Default="Image (17)" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hs5ch3f3/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>