<?xml version="1.0" encoding="utf-8"?>
<Media Key="cbf164c0-f91c-4aa0-9e76-740a0fe68b84" Alias="Image (58)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image58</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:12</CreateDate>
    <NodeName Default="Image (58)" />
    <SortOrder>64</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4fspdsy2/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>