<?xml version="1.0" encoding="utf-8"?>
<Media Key="543e257d-cfa9-40b6-85bd-1487fe7b2ae7" Alias="Image (9)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image9</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:06:06</CreateDate>
    <NodeName Default="Image (9)" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jqsd2vfj/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>