<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5577b36-cc8f-4e81-b7d4-39ebea2c2db1" Alias="Image (52)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image52</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:12</CreateDate>
    <NodeName Default="Image (52)" />
    <SortOrder>58</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a33fpjmp/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>