<?xml version="1.0" encoding="utf-8"?>
<Media Key="2aaeb6a7-fb0e-4f7c-846d-c399010db938" Alias="Image (25)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image25</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:08:21</CreateDate>
    <NodeName Default="Image (25)" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s01k2kqo/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>