<?xml version="1.0" encoding="utf-8"?>
<Media Key="c383c384-5c31-4456-8b1b-297fc320748e" Alias="Image (65)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image65</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:12</CreateDate>
    <NodeName Default="Image (65)" />
    <SortOrder>71</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wxbjhqzr/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>