<?xml version="1.0" encoding="utf-8"?>
<Media Key="586cdc53-9f2f-4d94-9346-c815ac6ae7b6" Alias="Image (59)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image59</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:12</CreateDate>
    <NodeName Default="Image (59)" />
    <SortOrder>65</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mlogywbp/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>