<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2b73ec3-4177-4aaf-a1b8-7e0f601a14ed" Alias="Image (81)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image81</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (81)" />
    <SortOrder>87</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4i5lpqtx/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>