<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef17a572-c6ac-407c-a34f-e1c0b9d4ef6f" Alias="Image (46)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image46</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:12</CreateDate>
    <NodeName Default="Image (46)" />
    <SortOrder>52</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iosbp13m/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>