<?xml version="1.0" encoding="utf-8"?>
<Media Key="625b006e-a52b-45dc-bc75-5f679b57460d" Alias="Image (36)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image36</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:08:21</CreateDate>
    <NodeName Default="Image (36)" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/l2afwyrl/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>