<?xml version="1.0" encoding="utf-8"?>
<Media Key="db62b3d8-519c-4c1c-91ef-981c607b95a9" Alias="Image (68)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image68</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (68)" />
    <SortOrder>74</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3gzhfw22/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>