<?xml version="1.0" encoding="utf-8"?>
<Media Key="ecc88a75-e95e-49a0-971b-73a7c2675e57" Alias="Image (21)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image21</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:08:21</CreateDate>
    <NodeName Default="Image (21)" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/isfmr1c4/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>