<?xml version="1.0" encoding="utf-8"?>
<Media Key="ceef35b0-399b-43f1-a533-9cc0cdc1cc43" Alias="Image (53)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image53</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:12</CreateDate>
    <NodeName Default="Image (53)" />
    <SortOrder>59</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qe0p5tu1/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>