<?xml version="1.0" encoding="utf-8"?>
<Media Key="4755a3e4-1f8d-4574-b922-3e8b70eb3b77" Alias="Image (39)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image39</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:08:21</CreateDate>
    <NodeName Default="Image (39)" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0wrfkr2n/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>