<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f8f1272-679b-4b20-881c-ce9624044f9e" Alias="Image (8)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image8</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:06:06</CreateDate>
    <NodeName Default="Image (8)" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/imji4h21/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>