<?xml version="1.0" encoding="utf-8"?>
<Media Key="92fc935d-404d-4be4-a88b-5d8298f0aa45" Alias="Image (80)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image80</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (80)" />
    <SortOrder>86</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nsjpzesn/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>