<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e122260-41ff-426a-8745-6a4155a16e0d" Alias="Image (23)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image23</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:08:21</CreateDate>
    <NodeName Default="Image (23)" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kerbfdx5/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>