<?xml version="1.0" encoding="utf-8"?>
<Media Key="dbc4ee1d-0867-4945-bd3b-2b4d06f5da9f" Alias="Image (91)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image91</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (91)" />
    <SortOrder>97</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ftxmjw1h/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>