<?xml version="1.0" encoding="utf-8"?>
<Media Key="34fd52d7-74dd-4341-8c5a-657cdedf790c" Alias="Image (43)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image43</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:12</CreateDate>
    <NodeName Default="Image (43)" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2zjp0ng3/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>