<?xml version="1.0" encoding="utf-8"?>
<Media Key="b089ab95-30f8-42a6-a040-75330b967b3a" Alias="Image (66)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image66</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (66)" />
    <SortOrder>72</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/usvjtmhy/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>