<?xml version="1.0" encoding="utf-8"?>
<Media Key="54cd6260-dc6b-4912-aa19-bc4b6acd0047" Alias="Image (37)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image37</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:08:21</CreateDate>
    <NodeName Default="Image (37)" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kfrm0vdl/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>