<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f5e723c-cc18-4904-b9d4-a328cd358383" Alias="Image (54)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image54</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:12</CreateDate>
    <NodeName Default="Image (54)" />
    <SortOrder>60</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bvzf2hyy/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>