<?xml version="1.0" encoding="utf-8"?>
<Media Key="5861f32d-82d8-4d57-b856-15bfcf78e40e" Alias="Image (70)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image70</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (70)" />
    <SortOrder>76</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dtzhcwgy/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>