<?xml version="1.0" encoding="utf-8"?>
<Media Key="035f4e8b-a8bf-4cb5-b7b8-4675f7b2e37a" Alias="Image (12)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image12</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:06:06</CreateDate>
    <NodeName Default="Image (12)" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xjhf4a35/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>