<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc8399ac-1468-4686-9c64-e0352caaa9a2" Alias="Image (11)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image11</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:06:06</CreateDate>
    <NodeName Default="Image (11)" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/twmjhpdi/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>