<?xml version="1.0" encoding="utf-8"?>
<Media Key="7dec42c9-a798-4a78-8589-5a47cb042822" Alias="Image (14)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image14</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:06:06</CreateDate>
    <NodeName Default="Image (14)" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5bboy5my/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>