<?xml version="1.0" encoding="utf-8"?>
<Media Key="6eebb272-3fb2-4b28-a624-ec6f8fe0b766" Alias="Image (82)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image82</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (82)" />
    <SortOrder>88</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iozow1vs/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>