<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7b44ceb-451d-49bc-bf4d-de04556484a3" Alias="Image (55)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image55</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:12</CreateDate>
    <NodeName Default="Image (55)" />
    <SortOrder>61</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1jgljny3/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>