<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa025d18-d467-46d2-8361-73abcd1a9ef7" Alias="Image (20)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image20</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:06:06</CreateDate>
    <NodeName Default="Image (20)" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ffobfkth/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>