<?xml version="1.0" encoding="utf-8"?>
<Media Key="39cc1583-e56a-468a-8e46-b581897768d3" Alias="Image (3)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:06:06</CreateDate>
    <NodeName Default="Image (3)" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wiknyolk/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>