<?xml version="1.0" encoding="utf-8"?>
<Media Key="09f0a3fe-2f69-4edb-9580-5c1dc2dca8fc" Alias="Image (78)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image78</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (78)" />
    <SortOrder>84</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z4rpaclj/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>