<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6b6ec5a-6943-4502-ae32-194ef539bb63" Alias="Image (85)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image85</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (85)" />
    <SortOrder>91</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/npwlnjsd/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>