<?xml version="1.0" encoding="utf-8"?>
<Media Key="20ac8bac-eeee-43f2-8a01-d37d3009e52b" Alias="Image (76)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image76</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (76)" />
    <SortOrder>82</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/twflyiho/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>