<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae28d213-061a-478f-97c5-d558b7acf8cf" Alias="Image (94)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image94</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (94)" />
    <SortOrder>100</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eljcrlq0/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>