<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd78b0de-3d2a-4777-90a6-77e9c429b0a4" Alias="Image (88)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image88</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (88)" />
    <SortOrder>94</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/34yhrxjk/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>