<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6ecde1d-c99c-4ae9-ab14-8c114247432b" Alias="Image (77)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image77</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (77)" />
    <SortOrder>83</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ftpoznu2/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>