<?xml version="1.0" encoding="utf-8"?>
<Media Key="37e5fe1c-a10a-42bd-aac6-4b6c46525d9e" Alias="Image (84)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image84</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (84)" />
    <SortOrder>90</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fx5oknyk/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>