<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ef556c5-2e4e-4a54-a636-1134722e86ee" Alias="Image (89)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image89</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (89)" />
    <SortOrder>95</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4rlpldso/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>