<?xml version="1.0" encoding="utf-8"?>
<Media Key="15cf5505-a816-47db-a8f6-e44864ac50be" Alias="Image (56)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image56</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:12</CreateDate>
    <NodeName Default="Image (56)" />
    <SortOrder>62</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/grkn4fiw/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>