<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4f7dcad-365b-4f94-8b15-e577b66069bc" Alias="Image (63)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image63</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:12</CreateDate>
    <NodeName Default="Image (63)" />
    <SortOrder>69</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ttopp3c1/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>