<?xml version="1.0" encoding="utf-8"?>
<Media Key="20f189b4-c311-4673-a558-271ade819155" Alias="Image (92)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image92</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (92)" />
    <SortOrder>98</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qwepciar/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>