<?xml version="1.0" encoding="utf-8"?>
<Media Key="8279a3dc-243d-43cc-810a-4b9c45a0715e" Alias="Image (72)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image72</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (72)" />
    <SortOrder>78</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3wrhtar3/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>