<?xml version="1.0" encoding="utf-8"?>
<Media Key="430c5a93-c5d6-4ead-a46d-ebf76bc63f04" Alias="Image (96)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image96</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (96)" />
    <SortOrder>102</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ujnayq4w/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>