<?xml version="1.0" encoding="utf-8"?>
<Media Key="659de0c2-2803-4aa3-8652-f0488661e3c0" Alias="Image (30)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image30</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:08:21</CreateDate>
    <NodeName Default="Image (30)" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4pqj0zid/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>