<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2913ae3-639d-4e1a-a781-41a1b97a26e0" Alias="Image (6)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image6</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:06:06</CreateDate>
    <NodeName Default="Image (6)" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0i3jdyu3/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>