<?xml version="1.0" encoding="utf-8"?>
<Media Key="02460e5f-9439-4608-bb37-b9c709926a11" Alias="Image (22)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image22</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:08:21</CreateDate>
    <NodeName Default="Image (22)" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nyhemarz/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>