<?xml version="1.0" encoding="utf-8"?>
<Media Key="188f76ff-72dd-4b83-a04e-d0820b8a489c" Alias="Image (101)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image101</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (101)" />
    <SortOrder>107</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zz1i4gg3/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>