<?xml version="1.0" encoding="utf-8"?>
<Media Key="e71ea726-65b6-4f3e-aac7-132cbc1f8c3f" Alias="Image (87)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image87</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (87)" />
    <SortOrder>93</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c4tb3z3w/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>