<?xml version="1.0" encoding="utf-8"?>
<Media Key="50c24de6-4ae1-4daf-9d02-7eb9a309cd14" Alias="Image (44)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image44</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:12</CreateDate>
    <NodeName Default="Image (44)" />
    <SortOrder>50</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/03gneuhb/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>