<?xml version="1.0" encoding="utf-8"?>
<Media Key="74460826-ec7b-4ffa-9054-274f5f39a21c" Alias="Image (71)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image71</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (71)" />
    <SortOrder>77</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c2eem3d1/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>