<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d061302-0d51-4f08-8fd4-d890919bb714" Alias="Image (41)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image41</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:08:21</CreateDate>
    <NodeName Default="Image (41)" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gmjbmtkr/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>