<?xml version="1.0" encoding="utf-8"?>
<Media Key="e753950e-c216-4423-8b02-244ac2f31609" Alias="Image (19)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image19</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:06:06</CreateDate>
    <NodeName Default="Image (19)" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h4kfhzyw/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>