<?xml version="1.0" encoding="utf-8"?>
<Media Key="1950b214-be9b-4660-845b-d98328d5c817" Alias="Image (15)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image15</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:06:06</CreateDate>
    <NodeName Default="Image (15)" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ewzfagm1/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>