<?xml version="1.0" encoding="utf-8"?>
<Media Key="5cad1294-0001-439e-a767-9688654d6cb5" Alias="Image (79)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image79</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (79)" />
    <SortOrder>85</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uujk0xab/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>