<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a82ae4d-e39c-46e2-be41-bf06fbde19af" Alias="Image (47)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image47</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:12</CreateDate>
    <NodeName Default="Image (47)" />
    <SortOrder>53</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/psxifcu2/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>