<?xml version="1.0" encoding="utf-8"?>
<Media Key="d40c504a-ba4d-4c79-87ab-9a20ceca45a6" Alias="Image (100)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image100</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (100)" />
    <SortOrder>106</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pniazvcn/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>