<?xml version="1.0" encoding="utf-8"?>
<Media Key="3df12364-2d57-4019-b394-7c715003c4ea" Alias="Image (24)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image24</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:08:21</CreateDate>
    <NodeName Default="Image (24)" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kurpcpkx/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>