<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c062a57-ae01-4e6b-9af4-2f059ec9365d" Alias="Image (61)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image61</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:12</CreateDate>
    <NodeName Default="Image (61)" />
    <SortOrder>67</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/myvamhab/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>