<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb44f2e4-1b41-4add-bce1-81130ea354bb" Alias="Image (67)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image67</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (67)" />
    <SortOrder>73</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0xzejo0b/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>