<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4b0a238-342e-4bd7-a2e0-67db207b93da" Alias="Image (33)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image33</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:08:21</CreateDate>
    <NodeName Default="Image (33)" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bgrlb3bo/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>