<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8b2169b-be56-4dea-b39c-a3c8220593fd" Alias="Image (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:06:06</CreateDate>
    <NodeName Default="Image (1)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/villfwcw/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>