<?xml version="1.0" encoding="utf-8"?>
<Media Key="85f51d0c-692b-4f3a-bfc3-f29f8e048a13" Alias="Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:06:06</CreateDate>
    <NodeName Default="Image" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/huoplbjl/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>