<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c308371-443d-4448-9b7d-8057939e5ea1" Alias="Image (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:06:06</CreateDate>
    <NodeName Default="Image (2)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/icbdahb3/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>