<?xml version="1.0" encoding="utf-8"?>
<Media Key="0af67fb6-e654-43d7-968d-61532e59835a" Alias="Image (73)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image73</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (73)" />
    <SortOrder>79</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q35pmcsu/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>