<?xml version="1.0" encoding="utf-8"?>
<Media Key="c50a9039-e06e-49ee-b150-d9c32c976867" Alias="Image (99)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image99</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:13</CreateDate>
    <NodeName Default="Image (99)" />
    <SortOrder>105</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bciavrlo/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>