<?xml version="1.0" encoding="utf-8"?>
<Media Key="792dba54-c4e5-4d29-b938-ccb3f17b36ac" Alias="Image (57)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image57</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:12:12</CreateDate>
    <NodeName Default="Image (57)" />
    <SortOrder>63</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mw3c04pf/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>