<?xml version="1.0" encoding="utf-8"?>
<Media Key="49be130a-daca-42fc-82d6-a58c92b1f9e1" Alias="Image (4)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-03T10:06:06</CreateDate>
    <NodeName Default="Image (4)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hmjl2sok/image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>