<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b1b9c28-31e1-4dc7-a041-76894f9a6682" Alias="Joe Miller" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JoeMiller</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T09:49:18</CreateDate>
    <NodeName Default="Joe Miller" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/f0obxg5b/joe_miller.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>