<?xml version="1.0" encoding="utf-8"?>
<Media Key="b62f7359-746f-4f3d-83d9-eed1ed27f9b7" Alias="Steve Hillhouse" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SteveHillhouse</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T09:50:11</CreateDate>
    <NodeName Default="Steve Hillhouse" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/l3zd5ntp/steve_hillhouse.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>