<?xml version="1.0" encoding="utf-8"?>
<Media Key="41f700bc-31fb-4845-ad58-7a78e4188a23" Alias="Three Millers" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ThreeMillers</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T09:48:34</CreateDate>
    <NodeName Default="Three Millers" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xiapoqp1/three_millers.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>