<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ad4373b-2a4b-48d1-bcc4-3adb6fb4d6bd" Alias="Umbraco 06 45438154" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Umbraco0645438154</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-02T10:42:37</CreateDate>
    <NodeName Default="Umbraco 06 45438154" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hu1njgsl/umbraco_06-45438154.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>