<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec6451ed-5081-42af-8130-7d6d676006a2" Alias="WMC Cover About 1024X187" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WMCCoverAbout1024X187</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T13:38:07</CreateDate>
    <NodeName Default="WMC Cover About 1024X187" />
    <SortOrder>111</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3nihj1eb/wmc_cover_about-1024x187.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>