<?xml version="1.0" encoding="utf-8"?>
<Content Key="831c2dc9-0904-442c-a0d6-3e8ce00ac263" Alias="About" Level="2">
  <Info>
    <Parent Key="3c8b7002-ed69-406e-9a31-c4b65d7b710b">Welcome</Parent>
    <Path>/Welcome/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-02T08:22:27</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="93da5373-25fe-4bfc-95bf-c4239664f63e">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<!-- [if gte IE 9]>
	<style type="text/css">
		.gradient {
			filter: none;
		}
	</style>
	<![endif]-->
<div id="fit-vids-style" class="fit-vids-style" style="display: none;">­</div>
<!-- [if IE 9]><link rel="stylesheet" type="text/css" href="http://wholesalemonumentco.com/content/themes/bodega/css/ie9_stylesheet.css" media="screen"><![endif]-->
<p> </p>
<!-- [if IE 8]><link rel="stylesheet" type="text/css" href="http://wholesalemonumentco.com/content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
<div class="wrapper">
<div class="wrapper_inner"><!-- Google Analytics start --> <!-- Google Analytics end -->
<div class="header_inner clearfix"><!--insert start--> <!--insert end-->
<div class="header_top_bottom_holder">
<div class="header_bottom clearfix " style="background-color: rgba(255, 255, 255, 1);">
<div class="container">
<div class="container_inner clearfix">
<div class="header_inner_left">
<div class="mobile_menu_button"><span> </span></div>
<div class="logo_wrapper"></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="content content_top_margin_none" style="padding-top: 0px;">
<div class="content_inner  ">
<div class="full_width">
<div class="full_width_inner">
<div class="vc_row wpb_row section vc_row-fluid grid_section" style="background-image: url('http://wholesalemonumentco.com/content/uploads/2015/03/WMC_cover_about-1024x187.png'); text-align: left;">
<div class=" section_inner clearfix">
<div class="section_inner_margin clearfix">
<div class="element_from_fade element_from_fade_on">
<div>
<div class="vc_col-sm-12 wpb_column vc_column_container">
<div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<h2 style="text-align: center;"><span style="color: #ffffff;">Five decades. Three generations.</span></h2>
</div>
</div>
<div class="separator  transparent center  " style="margin-top: 23px; margin-bottom: 0px;"></div>
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<p style="text-align: center;"><span style="color: #ffffff;">It all started in 1958, within a modest 500 sq. ft. shop in Seymour, Missouri. By 1963, founder Max Miller had grown the Wholesale Monument Co. to also include funeral homes in Seymour, Mansfield, and Hartville. Max’s son Joe joined in 1975—by which time WMC was solely focused on monuments. Father and son worked together for nearly 20 years until 1992, when Wendel and Susan Matlock (Max’s daughter) took over the business, upholding the tradition until 2013—when Max’s grandson Zach Miller and wife Hollie proudly became owners of WMC.</span></p>
</div>
</div>
<div class="separator  transparent center  " style="margin-top: 94px; margin-bottom: 0px;"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="vc_row wpb_row section vc_row-fluid grid_section" style="padding-top: 38px; text-align: left;">
<div class=" section_inner clearfix">
<div class="section_inner_margin clearfix">
<div class="vc_col-sm-12 wpb_column vc_column_container">
<div class="wpb_wrapper">
<div class="q_elements_holder two_columns responsive_mode_from_1000 alignment_one_column_center">
<div class="q_elements_item vertical_alignment_middle " data-animation="no">
<div class="q_elements_item_inner">
<div class="q_elements_item_content q_elements_inner_255681476" style="text-align: center;">
<div class="wpb_single_image wpb_content_element vc_align_center">
<div>
<div class="wpb_wrapper"><img class=" vc_box_border_grey attachment-full" src="https://wholesalemonumentco.com/content/uploads/2015/05/Three_Millers.jpg" alt="Three_Millers" width="540" height="303"></div>
</div>
</div>
</div>
</div>
</div>
<div class="q_elements_item vertical_alignment_middle " data-animation="no">
<div class="q_elements_item_inner">
<div class="q_elements_item_content q_elements_inner_1172737103" style="text-align: left; padding: 25px 25px 25px 25px;">
<div class="separator  transparent center  " style="margin-top: 3px; margin-bottom: 0px;"></div>
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<h2><span style="color: #323232;">Zach &amp; Hollie Miller, owners/operators</span></h2>
</div>
</div>
<div class="separator  transparent center  " style="margin-top: 29px; margin-bottom: 0px;"></div>
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<p>Zach has basically grown up at the WMC shop. From his childhood days of doing odd jobs for his Grandpa Max to selling stones throughout high school and college, no matter where life led him Zach always came back to WMC. In 2013, Zach and Hollie acquired the shop—and hope that their son Harrison will one day carry on the Miller tradition.</p>
</div>
</div>
</div>
</div>
<div class="separator  transparent center  " style="margin-top: 30px; margin-bottom: 0px;"></div>
</div>
</div>
</div>
</div>
<div class="separator  transparent center  " style="margin-top: 0px; margin-bottom: 31px;"></div>
</div>
</div>
</div>
</div>
</div>
<div class="vc_row wpb_row section vc_row-fluid grid_section" style="text-align: left;">
<div class=" section_inner clearfix">
<div class="section_inner_margin clearfix">
<div class="vc_col-sm-12 wpb_column vc_column_container">
<div class="wpb_wrapper">
<div class="q_elements_holder two_columns responsive_mode_from_1000 alignment_one_column_center">
<div class="q_elements_item vertical_alignment_middle " data-animation="no">
<div class="q_elements_item_inner">
<div class="q_elements_item_content q_elements_inner_1942143188" style="text-align: left; padding: 25px 25px 25px 25px;">
<div class="separator  transparent center  " style="margin-top: 3px; margin-bottom: 0px;"><img class=" vc_box_border_grey attachment-full" src="https://wholesalemonumentco.com/content/uploads/2015/03/Joe_Miller.jpg" alt="Joe_Miller" width="540" height="303"></div>
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<h2><span style="color: #323232;">Joe Miller, Lead craftsman</span></h2>
</div>
</div>
<div class="separator  transparent center  " style="margin-top: 29px; margin-bottom: 0px;"></div>
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<p>Joe started work at WMC in 1975, where he worked alongside his father Max for 17 years. A few years later, he returned to WMC in 2008 and now works with his own son, Zach. Known affectionately around the shop as ’Picasso’, Joe is a meticulous artist who takes great pride in every detail.</p>
</div>
</div>
</div>
</div>
<div class="separator  transparent center  " style="margin-top: 30px; margin-bottom: 0px;"></div>
</div>
</div>
</div>
</div>
<div class="separator  transparent center  " style="margin-top: 0px; margin-bottom: 31px;"><img class=" vc_box_border_grey attachment-full" src="https://wholesalemonumentco.com/content/uploads/2015/03/Susan.jpg" alt="Susan" width="540" height="303"></div>
</div>
</div>
</div>
</div>
</div>
<div class="vc_row wpb_row section vc_row-fluid grid_section" style="text-align: left;">
<div class=" section_inner clearfix">
<div class="section_inner_margin clearfix">
<div class="vc_col-sm-12 wpb_column vc_column_container">
<div class="wpb_wrapper">
<div class="q_elements_holder two_columns responsive_mode_from_1000 alignment_one_column_center">
<div class="q_elements_item vertical_alignment_middle " data-animation="no">
<div class="q_elements_item_inner">
<div class="q_elements_item_content q_elements_inner_1202785124" style="text-align: left; padding: 25px 25px 25px 25px;">
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<h2>Susan (Miller) Matlock, Bookkeeping</h2>
</div>
</div>
<div class="separator  transparent center  " style="margin-top: 29px; margin-bottom: 0px;"></div>
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<p>Susan (along with husband Wendel) owned WMC for over twenty years, accepting the helm from her father (Max), and eventually passing it to Zach (her nephew). You’ll still find her helping at the shop, making each person feel welcome and happily finding just the right solution for them.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="vc_row wpb_row section vc_row-fluid grid_section" style="text-align: left;">
<div class=" section_inner clearfix">
<div class="section_inner_margin clearfix">
<div class="vc_col-sm-12 wpb_column vc_column_container">
<div class="wpb_wrapper">
<div class="q_elements_holder two_columns responsive_mode_from_1000 alignment_one_column_center">
<div class="q_elements_item vertical_alignment_middle " data-animation="no">
<div class="q_elements_item_inner">
<div class="q_elements_item_content q_elements_inner_665835607" style="text-align: left; padding: 25px 25px 25px 25px;">
<div class="separator  transparent center  " style="margin-top: 3px; margin-bottom: 0px;"><img class=" vc_box_border_grey attachment-full" src="https://wholesalemonumentco.com/content/uploads/2015/03/Steve_Hillhouse.jpg" alt="Steve_Hillhouse" width="540" height="303"></div>
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<h2><span style="color: #323232;">Steve Hillhouse, Production</span></h2>
</div>
</div>
<div class="separator  transparent center  " style="margin-top: 29px; margin-bottom: 0px;"></div>
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<p>Steve joined the WMC team in 1997 and—by all accounts—is an ‘honorary Miller’ to us.  Though humble, we can tell you that he’s the ultimate utility player and excels at every position within the shop.</p>
</div>
</div>
</div>
</div>
<div class="separator  transparent center  " style="margin-top: 30px; margin-bottom: 0px;"></div>
</div>
</div>
</div>
</div>
<div class="separator  transparent center  " style="margin-top: 0px; margin-bottom: 31px;"></div>
</div>
</div>
</div>
</div>
</div>
<div class="vc_row wpb_row section vc_row-fluid" style="text-align: left;">
<div class=" full_section_inner clearfix">
<div class="vc_col-sm-12 wpb_column vc_column_container">
<div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper"></div>
</div>
</div>
</div>
</div>
</div>
<div class="vc_row wpb_row section vc_row-fluid" style="text-align: left;">
<div class=" full_section_inner clearfix" style="padding-left: 2.8%; padding-right: 2.8%;">
<div class="vc_col-sm-12 wpb_column vc_column_container">
<div class="wpb_wrapper">
<div class="vc_row wpb_row section vc_row-fluid grid_section" style="background-image: url('http://wholesalemonumentco.com/content/uploads/2015/05/ABOUT_PARTNER_BKGD.jpg'); padding-top: 138px; text-align: left;">
<div class=" section_inner clearfix">
<div class="section_inner_margin clearfix">
<div class="vc_col-sm-6 wpb_column vc_column_container">
<div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<h2 style="text-align: left;"><span style="color: #ffffff;"> Working together. </span></h2>
</div>
</div>
<div class="separator  transparent center  " style="margin-top: 38px; margin-bottom: 0px;"></div>
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<p><span style="color: #ffffff;">  When you have been providing services for as long as we have, you meet and work with a lot of folks. Here are a few of the professionals we trust and with whom we collaborate—just click on a logo to visit their site.</span></p>
</div>
</div>
</div>
</div>
<div class="vc_col-sm-6 wpb_column vc_column_container">
<div class="wpb_wrapper">
<div class="q_elements_holder three_columns responsive_mode_from_768">
<div class="q_elements_item vertical_alignment_middle " data-animation="no">
<div class="q_elements_item_inner">
<div class="q_elements_item_content q_elements_inner_1196366651" style="text-align: left;">
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<p><img class="aligncenter size-thumbnail wp-image-40908" src="https://wholesalemonumentco.com/content/uploads/2014/12/INTERGLO_EDITED-150x150.png" alt="INTERGLO_EDITED" width="150" height="150"><img class="aligncenter size-thumbnail wp-image-40907" src="https://wholesalemonumentco.com/content/uploads/2014/12/Fewelllogo-150x150.png" alt="Fewelllogo" width="150" height="150"><img class="aligncenter size-thumbnail wp-image-40909" src="https://wholesalemonumentco.com/content/uploads/2014/12/Salem-Stones_CMYK-150x150.png" alt="Salem-Stones_CMYK" width="150" height="150"><img class="aligncenter size-thumbnail wp-image-40914" src="http://www.wholesalemonumentco.com/content/uploads/2015/05/PSMlogo-150x150-150x150.png" alt="PSMlogo-150x150" width="150" height="150"></p>
</div>
</div>
<div class="separator  transparent center  " style="margin-top: 40px; margin-bottom: 0px;"></div>
</div>
</div>
</div>
<div class="q_elements_item vertical_alignment_middle " data-animation="no">
<div class="q_elements_item_inner">
<div class="q_elements_item_content q_elements_inner_305190959" style="text-align: left;">
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<p> </p>
</div>
</div>
<div class="separator  transparent center  " style="margin-top: 40px; margin-bottom: 0px;"></div>
</div>
</div>
</div>
<div class="q_elements_item vertical_alignment_middle " data-animation="no">
<div class="q_elements_item_inner">
<div class="q_elements_item_content q_elements_inner_524357725" style="text-align: left;">
<div class="separator  transparent center  " style="margin-top: 40px; margin-bottom: 0px;"></div>
</div>
</div>
</div>
<div class="q_elements_item vertical_alignment_middle " data-animation="no">
<div class="q_elements_item_inner">
<div class="q_elements_item_content q_elements_inner_1994796816" style="text-align: left;">
<div class="separator  transparent center  " style="margin-top: 40px; margin-bottom: 0px;"></div>
</div>
</div>
</div>
</div>
<div class="separator  transparent center  " style="margin-top: 106px; margin-bottom: 0px;"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="vc_row wpb_row section vc_row-fluid" style="padding-top: 40px; text-align: left;">
<div class=" full_section_inner clearfix">
<div class="vc_col-sm-12 wpb_column vc_column_container">
<div class="wpb_wrapper">
<div class="google_map_holder" style="height: 480;">
<div id="map_canvas_53839" class="q_google_map" style="height: 480px; position: relative; overflow: hidden;" data-addresses="[&quot;3379 Oak Ave Miami, FL 33133&quot;]" data-custom-map-style="true" data-color-overlay="#a79da0" data-saturation="-97" data-lightness="-40" data-zoom="15" data-pin="http://wholesalemonumentco.com/content/uploads/2014/12/pin.png" data-unique-id="53839" data-google-maps-scroll-wheel="false" data-show-address-info-box="no" data-map-height="480">
<div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
<div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;">
<div><button aria-label="Keyboard shortcuts"></button></div>
<div style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url('https://maps.gstatic.com/mapfiles/openhand_8_8.cur'), default; touch-action: pan-x pan-y;" aria-label="Map" aria-roledescription="map" aria-describedby="FE1F1B2F-653C-4341-B4F0-143A2CE0CA89">
<div style="z-index: 1; position: absolute; left: 50%; top: 50%; width: 100%; will-change: transform; transform: translate(0px, 0px);">
<div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;">
<div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
<div style="position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -162, -12);">
<div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px;">
<div style="width: 256px; height: 256px;"></div>
</div>
<div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;">
<div style="width: 256px; height: 256px;"></div>
</div>
<div style="position: absolute; left: 0px; top: -256px; width: 256px; height: 256px;">
<div style="width: 256px; height: 256px;"></div>
</div>
<div style="position: absolute; left: 256px; top: -256px; width: 256px; height: 256px;">
<div style="width: 256px; height: 256px;"></div>
</div>
<div style="position: absolute; left: 512px; top: -256px; width: 256px; height: 256px;">
<div style="width: 256px; height: 256px;"></div>
</div>
<div style="position: absolute; left: 512px; top: 0px; width: 256px; height: 256px;">
<div style="width: 256px; height: 256px;"></div>
</div>
<div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px;">
<div style="width: 256px; height: 256px;"></div>
</div>
<div style="position: absolute; left: -256px; top: -256px; width: 256px; height: 256px;">
<div style="width: 256px; height: 256px;"></div>
</div>
<div style="position: absolute; left: 768px; top: -256px; width: 256px; height: 256px;">
<div style="width: 256px; height: 256px;"></div>
</div>
<div style="position: absolute; left: 768px; top: 0px; width: 256px; height: 256px;">
<div style="width: 256px; height: 256px;"></div>
</div>
<div style="position: absolute; left: -512px; top: 0px; width: 256px; height: 256px;">
<div style="width: 256px; height: 256px;"></div>
</div>
<div style="position: absolute; left: -512px; top: -256px; width: 256px; height: 256px;">
<div style="width: 256px; height: 256px;"></div>
</div>
</div>
</div>
</div>
<div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div>
<div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div>
<div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;">
<div style="position: absolute; left: 0px; top: 0px; z-index: -1;">
<div style="position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -162, -12);">
<div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 0px;"></div>
<div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 0px;"></div>
<div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: -256px;"></div>
<div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: -256px;"></div>
<div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: -256px;"></div>
<div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: 0px;"></div>
<div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 0px;"></div>
<div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: -256px;"></div>
<div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 768px; top: -256px;"></div>
<div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 768px; top: 0px;"></div>
<div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: 0px;"></div>
<div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: -256px;"></div>
</div>
</div>
<div style="width: 30px; height: 43px; overflow: hidden; position: absolute; left: -15px; top: -43px; z-index: 0;"><img style="position: absolute; left: 0px; top: 0px; user-select: none; width: 30px; height: 43px; border: 0px; padding: 0px; margin: 0px; max-width: none;" src="http://wholesalemonumentco.com/content/uploads/2014/12/pin.png" alt=""></div>
</div>
<div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
<div style="position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -162, -12);">
<div style="position: absolute; left: 768px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i9082!3i13959!4i256!2m3!1e0!2sm!3i665405562!3m17!2sen-US!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNhNzlkYTB8cC5zOi05N3xwLmw6LTQwfHAuZzox!4e0&amp;key=AIzaSyBZ74b6yGSMI2HmpCXqYK7ca_-3LZagikY&amp;token=113753" alt=""></div>
<div style="position: absolute; left: 512px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i9081!3i13959!4i256!2m3!1e0!2sm!3i665405777!3m17!2sen-US!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNhNzlkYTB8cC5zOi05N3xwLmw6LTQwfHAuZzox!4e0&amp;key=AIzaSyBZ74b6yGSMI2HmpCXqYK7ca_-3LZagikY&amp;token=85921" alt=""></div>
<div style="position: absolute; left: 768px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i9082!3i13958!4i256!2m3!1e0!2sm!3i665405777!3m17!2sen-US!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNhNzlkYTB8cC5zOi05N3xwLmw6LTQwfHAuZzox!4e0&amp;key=AIzaSyBZ74b6yGSMI2HmpCXqYK7ca_-3LZagikY&amp;token=25600" alt=""></div>
<div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i9080!3i13959!4i256!2m3!1e0!2sm!3i665405777!3m17!2sen-US!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNhNzlkYTB8cC5zOi05N3xwLmw6LTQwfHAuZzox!4e0&amp;key=AIzaSyBZ74b6yGSMI2HmpCXqYK7ca_-3LZagikY&amp;token=3081" alt=""></div>
<div style="position: absolute; left: 512px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i9081!3i13958!4i256!2m3!1e0!2sm!3i665405777!3m17!2sen-US!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNhNzlkYTB8cC5zOi05N3xwLmw6LTQwfHAuZzox!4e0&amp;key=AIzaSyBZ74b6yGSMI2HmpCXqYK7ca_-3LZagikY&amp;token=73831" alt=""></div>
<div style="position: absolute; left: -256px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i9078!3i13958!4i256!2m3!1e0!2sm!3i665405885!3m17!2sen-US!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNhNzlkYTB8cC5zOi05N3xwLmw6LTQwfHAuZzox!4e0&amp;key=AIzaSyBZ74b6yGSMI2HmpCXqYK7ca_-3LZagikY&amp;token=117716" alt=""></div>
<div style="position: absolute; left: 256px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i9080!3i13958!4i256!2m3!1e0!2sm!3i665405801!3m17!2sen-US!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNhNzlkYTB8cC5zOi05N3xwLmw6LTQwfHAuZzox!4e0&amp;key=AIzaSyBZ74b6yGSMI2HmpCXqYK7ca_-3LZagikY&amp;token=56342" alt=""></div>
<div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i9079!3i13959!4i256!2m3!1e0!2sm!3i665405861!3m17!2sen-US!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNhNzlkYTB8cC5zOi05N3xwLmw6LTQwfHAuZzox!4e0&amp;key=AIzaSyBZ74b6yGSMI2HmpCXqYK7ca_-3LZagikY&amp;token=72218" alt=""></div>
<div style="position: absolute; left: -512px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i9077!3i13959!4i256!2m3!1e0!2sm!3i665405861!3m17!2sen-US!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNhNzlkYTB8cC5zOi05N3xwLmw6LTQwfHAuZzox!4e0&amp;key=AIzaSyBZ74b6yGSMI2HmpCXqYK7ca_-3LZagikY&amp;token=37609" alt=""></div>
<div style="position: absolute; left: -512px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i9077!3i13958!4i256!2m3!1e0!2sm!3i665405885!3m17!2sen-US!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNhNzlkYTB8cC5zOi05N3xwLmw6LTQwfHAuZzox!4e0&amp;key=AIzaSyBZ74b6yGSMI2HmpCXqYK7ca_-3LZagikY&amp;token=34876" alt=""></div>
<div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i9078!3i13959!4i256!2m3!1e0!2sm!3i665405861!3m17!2sen-US!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNhNzlkYTB8cC5zOi05N3xwLmw6LTQwfHAuZzox!4e0&amp;key=AIzaSyBZ74b6yGSMI2HmpCXqYK7ca_-3LZagikY&amp;token=120449" alt=""></div>
<div style="position: absolute; left: 0px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i9079!3i13958!4i256!2m3!1e0!2sm!3i665405885!3m17!2sen-US!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNhNzlkYTB8cC5zOi05N3xwLmw6LTQwfHAuZzox!4e0&amp;key=AIzaSyBZ74b6yGSMI2HmpCXqYK7ca_-3LZagikY&amp;token=69485" alt=""></div>
</div>
</div>
</div>
<div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;">
<div style="z-index: 4; position: absolute; left: 50%; top: 50%; width: 100%; will-change: transform; transform: translate(0px, 0px);">
<div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div>
<div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div>
<div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"><span id="16C1A4FE-A28B-42EE-B7F1-C129CCA45072" style="display: none;">To navigate, press the arrow keys.</span>
<div style="width: 30px; height: 43px; overflow: hidden; position: absolute; cursor: pointer; touch-action: none; left: -15px; top: -43px; z-index: 0;" aria-describedby="16C1A4FE-A28B-42EE-B7F1-C129CCA45072"><img style="width: 30px; height: 43px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" src="https://maps.gstatic.com/mapfiles/transparent.png" alt=""></div>
</div>
<div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div>
</div>
</div>
<div class="gm-style-moc" style="z-index: 4; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;">
<p class="gm-style-mot"> </p>
</div>
<div id="FE1F1B2F-653C-4341-B4F0-143A2CE0CA89" class="LGLeeN-keyboard-shortcuts-view" style="display: none;">
<table border="0">
<tbody>
<tr>
<td>←</td>
<td aria-label="Move left.">Move left</td>
</tr>
<tr>
<td>→</td>
<td aria-label="Move right.">Move right</td>
</tr>
<tr>
<td>↑</td>
<td aria-label="Move up.">Move up</td>
</tr>
<tr>
<td>↓</td>
<td aria-label="Move down.">Move down</td>
</tr>
<tr>
<td>+</td>
<td aria-label="Zoom in.">Zoom in</td>
</tr>
<tr>
<td>-</td>
<td aria-label="Zoom out.">Zoom out</td>
</tr>
<tr>
<td>Home</td>
<td aria-label="Jump left by 75%.">Jump left by 75%</td>
</tr>
<tr>
<td>End</td>
<td aria-label="Jump right by 75%.">Jump right by 75%</td>
</tr>
<tr>
<td>Page Up</td>
<td aria-label="Jump up by 75%.">Jump up by 75%</td>
</tr>
<tr>
<td>Page Down</td>
<td aria-label="Jump down by 75%.">Jump down by 75%</td>
</tr>
</tbody>
</table>
</div>
</div>
<iframe aria-hidden="true" frameborder="0" style="z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;" tabindex="-1"></iframe>
<div style="pointer-events: none; width: 100%; height: 100%; box-sizing: border-box; position: absolute; z-index: 1000002; opacity: 0; border: 2px solid rgb(26, 115, 232);"></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div><button class="gm-control-active gm-fullscreen-control" aria-label="Toggle fullscreen view" aria-pressed="false"><img style="height: 18px; width: 18px;" src="" alt="" data-udi="umb://media/ecc88a75e95e49a0971b73a7c2675e57"><img style="height: 18px; width: 18px;" src="" alt="" data-udi="umb://media/02460e5f94394608bb37b9c709926a11"><img style="height: 18px; width: 18px;" src="" alt="" data-udi="umb://media/8e12226041ff426a87456a4155a16e0d"></button></div>
<div></div>
<div></div>
<div>
<div class="gmnoprint gm-bundled-control" style="margin: 10px; user-select: none; position: absolute; right: 40px; top: 190px;" data-control-width="40" data-control-height="81">
<div class="gmnoprint" style="position: absolute; left: 0px; top: 0px;" data-control-width="40" data-control-height="81">
<div style="user-select: none; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; background-color: rgb(255, 255, 255); width: 40px; height: 81px;"><button class="gm-control-active" aria-label="Zoom in"><img style="height: 18px; width: 18px;" src="" alt="" data-udi="umb://media/3df123642d574019b3947c715003c4ea"><img style="height: 18px; width: 18px;" src="" alt="" data-udi="umb://media/2aaeb6a7fb0e4f7c846dc399010db938"><img style="height: 18px; width: 18px;" src="" alt="" data-udi="umb://media/3941d27fd45a461faefaa4a628cb087d"><img style="height: 18px; width: 18px;" src="" alt="" data-udi="umb://media/1a991af43a2445c78c2459138491a5ae"></button>
<div style="position: relative; overflow: hidden; width: 30px; height: 1px; margin: 0px 5px; background-color: rgb(230, 230, 230); top: 0px;"></div>
<button class="gm-control-active" aria-label="Zoom out"><img style="height: 18px; width: 18px;" src="" alt="" data-udi="umb://media/38d5b78f7d79457b8428d10d3abb8abe"><img style="height: 18px; width: 18px;" src="" alt="" data-udi="umb://media/0cd4b5a333d44be6895189dd3cf80453"><img style="height: 18px; width: 18px;" src="" alt="" data-udi="umb://media/659de0c228034aa38652f0488661e3c0"><img style="height: 18px; width: 18px;" src="" alt="" data-udi="umb://media/c60317c55970454ba15ac383dfae965e"></button></div>
</div>
</div>
</div>
<div></div>
<div>
<div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" style="margin: 10px; user-select: none; position: absolute; display: none; bottom: 14px; right: 0px;" data-control-width="0" data-control-height="0">
<div class="gmnoprint" style="display: none; position: absolute;" data-control-width="40" data-control-height="40">
<div style="background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; width: 40px; height: 40px;"><button class="gm-control-active" aria-label="Rotate map clockwise"><img style="width: 20px; height: 20px;" src="" alt="" data-udi="umb://media/1e315486986c4562ad0d721adb52d719"><img style="width: 20px; height: 20px;" src="" alt="" data-udi="umb://media/f4b0a238342e4bd7a2e067db207b93da"><img style="width: 20px; height: 20px;" src="" alt="" data-udi="umb://media/53c3dc8d8d874e039a982f1d1093ec40"></button>
<div style="position: relative; overflow: hidden; width: 30px; height: 1px; margin: 0px 5px; background-color: rgb(230, 230, 230); display: none;"></div>
<button class="gm-control-active" aria-label="Rotate map counterclockwise"><img style="width: 20px; height: 20px;" src="" alt="" data-udi="umb://media/0f955e7454094eadbac116f1d98aebf8"><img style="width: 20px; height: 20px;" src="" alt="" data-udi="umb://media/625b006ea52b45dcbc755f679b57460d"><img style="width: 20px; height: 20px;" src="" alt="" data-udi="umb://media/54cd6260dc6b4912aa19bc4b6acd0047"></button>
<div style="position: relative; overflow: hidden; width: 30px; height: 1px; margin: 0px 5px; background-color: rgb(230, 230, 230); display: none;"></div>
<button class="gm-tilt gm-control-active" aria-label="Tilt map"><img style="width: 18px;" src="" alt="" data-udi="umb://media/ee2e8e691bfe4b81afbf24658635df8b"><img style="width: 18px;" src="" alt="" data-udi="umb://media/4755a3e41f8d4574b9223e8b70eb3b77"><img style="width: 18px;" src="" alt="" data-udi="umb://media/14aa2847f7bb47adae8baaef46ac311e"></button></div>
</div>
</div>
</div>
<div>
<div style="margin: 0px 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a style="display: inline;" rel="noopener" href="https://maps.google.com/maps?ll=25.73016,-80.248184&amp;z=15&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3" target="_blank" title="Open this area in Google Maps (opens a new window)" aria-label="Open this area in Google Maps (opens a new window)">
<div style="width: 66px; height: 26px;"><img style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;" src="" alt="Google" data-udi="umb://media/4d0613020d514f088fd4d890919bb714"></div>
</a></div>
</div>
<div></div>
<div>
<div style="display: inline-flex; position: absolute; right: 0px; bottom: 0px;">
<div class="gmnoprint" style="z-index: 1000001;">
<div class="gm-style-cc" style="user-select: none; position: relative; height: 14px; line-height: 14px;">
<div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
<div style="width: 1px;"></div>
<div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
</div>
<div style="position: relative; padding-right: 6px; padding-left: 6px; box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(0, 0, 0); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><button aria-label="Keyboard shortcuts">Keyboard shortcuts</button></div>
</div>
</div>
<div class="gmnoprint" style="z-index: 1000001;">
<div class="gm-style-cc" style="user-select: none; position: relative; height: 14px; line-height: 14px;">
<div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
<div style="width: 1px;"></div>
<div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
</div>
<div style="position: relative; padding-right: 6px; padding-left: 6px; box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(0, 0, 0); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><button aria-label="Map Data">Map Data</button><span>Map data ©2023 Google</span></div>
</div>
</div>
<div class="gmnoscreen">
<div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(0, 0, 0); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data ©2023 Google</div>
</div>
<div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
<div style="width: 1px;"></div>
<div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
</div>
<div style="position: relative; padding-right: 6px; padding-left: 6px; box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(0, 0, 0); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><span>200 m </span>
<div style="position: relative; display: inline-block; height: 8px; bottom: -1px; width: 50px;">
<div style="width: 100%; height: 4px; position: absolute; left: 0px; top: 0px;"></div>
<div style="width: 4px; height: 8px; left: 0px; top: 0px; background-color: rgb(255, 255, 255);"></div>
<div style="width: 4px; height: 8px; position: absolute; background-color: rgb(255, 255, 255); right: 0px; bottom: 0px;"></div>
<div style="position: absolute; background-color: rgb(102, 102, 102); height: 2px; left: 1px; bottom: 1px; right: 1px;"></div>
<div style="position: absolute; width: 2px; height: 6px; left: 1px; top: 1px; background-color: rgb(102, 102, 102);"></div>
<div style="width: 2px; height: 6px; position: absolute; background-color: rgb(102, 102, 102); bottom: 1px; right: 1px;"></div>
</div>
</div>
<button class="gm-style-cc" aria-label="Map Scale: 200 m per 46 pixels" aria-describedby="4527CFAA-5F37-4AF8-9A82-4F89EAE25D79"><span id="4527CFAA-5F37-4AF8-9A82-4F89EAE25D79" style="display: none;">Click to toggle between metric and imperial units</span></button>
<div class="gmnoprint gm-style-cc" style="z-index: 1000001; user-select: none; position: relative; height: 14px; line-height: 14px;">
<div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
<div style="width: 1px;"></div>
<div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
</div>
<div style="position: relative; padding-right: 6px; padding-left: 6px; box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(0, 0, 0); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="text-decoration: none; cursor: pointer; color: rgb(0, 0, 0);" rel="noopener" href="https://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank">Terms</a></div>
</div>
<div class="gm-style-cc" style="user-select: none; position: relative; height: 14px; line-height: 14px; display: none;">
<div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
<div style="width: 1px;"></div>
<div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
</div>
<div style="position: relative; padding-right: 6px; padding-left: 6px; box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(0, 0, 0); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(0, 0, 0); text-decoration: none; position: relative;" rel="noopener" dir="ltr" href="https://www.google.com/maps/@25.7301597,-80.2481844,15z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" target="_blank" title="Report errors in the road map or imagery to Google">Report a map error</a></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="google_map_ovrlay"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- close div.content_inner --></div>
<!-- close div.content -->
<div class="footer_inner clearfix">
<div class="footer_top_holder">
<div class="footer_top">
<div class="container">
<div class="container_inner">
<div class="four_columns clearfix">
<div class="qode_column column1" style="min-height: 232px;">
<div class="column_inner">
<div id="text-3" class="widget widget_text">
<div class="textwidget">
<div class="separator  transparent position_center  " style="margin-top: 2px; margin-bottom: 0px;"></div>
<a href="https://wholesalemonumentco.com"><img src="https://wholesalemonumentco.com/content/uploads/2015/03/WMC_logo_footer.png" alt=""> </a>
<div class="separator  transparent position_center  " style="margin-top: 20px; margin-bottom: 0px;"></div>
Family-owned Wholesale Monument Co. has proudly served the Midwest for more than 50 years.
<div class="separator  transparent position_center  " style="margin-top: 26px; margin-bottom: 0px;"></div>
</div>
</div>
</div>
</div>
<div class="qode_column column2" style="min-height: 232px;">
<div class="column_inner">
<div id="text-6" class="widget widget_text">
<h4>Hours</h4>
<div class="textwidget">
<div class="separator  transparent position_center  " style="margin-top: 20px; margin-bottom: 0px;"></div>
<p>M-F: 8 a.m. to 4:30 p.m.<br>Sat: 8 a.m. to 12 p.m.</p>
<p>417-935-4236</p>
<p>wholesalemonument@centurytel.net</p>
<div class="separator  transparent position_center  " style="margin-top: 26px; margin-bottom: 0px;"></div>
</div>
</div>
</div>
</div>
<div class="qode_column column3" style="min-height: 232px;">
<div class="column_inner">
<div id="text-7" class="widget widget_text">
<h4>Address</h4>
<div class="textwidget">
<div class="separator  transparent position_center  " style="margin-top: 20px; margin-bottom: 0px;"></div>
<p>Wholesale Monument Co.<br>301 West Steel Street<br>Seymour, Missouri 65746<br>..................................<br>PO Box 116<br>Seymour, MO. 65746</p>
<div class="separator  transparent position_center  " style="margin-top: 26px; margin-bottom: 0px;"></div>
</div>
</div>
</div>
</div>
<div class="qode_column column4" style="min-height: 232px;">
<div class="column_inner"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- close div.wrapper_inner  --></div>
<!-- close div.wrapper -->]]></Value>
    </bodyText>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>