<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f18f557-273e-45e0-9f2e-8a8b9963ac01" Alias="Blog" Level="2">
  <Info>
    <Parent Key="3c8b7002-ed69-406e-9a31-c4b65d7b710b">Welcome</Parent>
    <Path>/Welcome/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2023-10-02T10:07:45</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c475d602-d338-4517-99b0-1d3cd1c09c4d">Blog</Template>
  </Info>
  <Properties>
    <featuredStory>
      <Value><![CDATA[]]></Value>
    </featuredStory>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>