<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0ab9806-4d5a-458d-ae69-c3d781011bcf" Alias="From the Documentation Curators" Level="3">
  <Info>
    <Parent Key="7f18f557-273e-45e0-9f2e-8a8b9963ac01">Blog</Parent>
    <Path>/Welcome/Blog/FromTheDocumentationCurators</Path>
    <Trashed>false</Trashed>
    <ContentType>blogItem</ContentType>
    <CreateDate>2023-10-02T10:44:34</CreateDate>
    <NodeName Default="From the Documentation Curators" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7b44c6ae-0d90-469f-bf8d-d3891e632e29">BlogItem</Template>
  </Info>
  <Properties>
    <authorName>
      <Value><![CDATA[Busra Şengül]]></Value>
    </authorName>
    <bodyText>
      <Value><![CDATA[<div class="umb-container">
<div class="columns">
<div class="column is-12 grid-section__cell">
<div class="content grid-section__cell-content">
<h2>What we are working on right now</h2>
<p>As the Community team, we still have bi-weekly team meetings as well as bi-weekly Doc’shops. Recently, we also had a short virtual introduction meeting with Jonathan and <a href="https://umbraco.com/blog/new-hire-at-umbraco-hq-esha-the-explorer/">Esha</a> from HQ. Kudos to everyone in the team as they are really amazing and helping me constantly! I’m really grateful to work with them! </p>
<p>Beyond this, you all know our latest project was the Getting Started section.</p>
<picture><source data-srcset="/media/m5ola20v/getting-started-docs.jpg?quality=80&amp;format=webp" type="image/webp"><img class="" src="https://umbraco.com/media/m5ola20v/getting-started-docs.jpg?quality=80" alt="Umbraco &quot;Getting started documents&quot;" data-src="/media/m5ola20v/getting-started-docs.jpg?quality=80"></picture>
<p class="caption image-caption">The Getting Started docs</p>
<p>Once it was published, it was time for us to move on to another project as a team. So that’s what we did! We discussed 2 ideas and we liked them so much that we started working on them both! </p>
<p>Hold tight! You’ll like these 😎</p>
<p> </p>
<h2>A brand new cheatsheet is coming for V9!</h2>
<p>Yep, you heard it right! Remember the <a href="https://our.umbraco.com/packages/developer-tools/umbraco-v6-mvc-razor-cheatsheets/">V6 cheatsheet</a>? As a team, we thought it’d be great to have a Documentation Curators Team’s cheatsheet and we’re planning to finalize it with the help of Bjarke and the Unicore team before the actual release of V9.</p>
<p> </p>
<h2>Templates for contributions</h2>
<p>We are also working on preparing a guideline for new contributions. Whether it’s a tutorial or a simple article you want to add, you’ll be able to just copy the structure as a guide from the templates. It will include all the markdown styles as well 💪🏼</p>
<p><br><br></p>
<h2>Highlights from the V9 docs</h2>
<p>While talking about contributions, I’d like to remind you how to contribute for V9 docs again.</p>
<p>Thanks to Sofie, we have a full V9 <a href="https://docs.google.com/spreadsheets/u/0/d/1IPq2GrrECTNnMe_9YSs-m5wGSd0Wl2ywbKRUQqIFa-c/edit">Docs task document</a>. </p>
<p>All you need to do is the following:</p>
<ul>
<li aria-level="1">Decide what you want to work on from the document</li>
<li aria-level="1">Assign yourself to the support column</li>
<li aria-level="1">Once your contribution is done, create a PR </li>
</ul>
<p>That’s it! </p>
<p>As you know, we are on the same platform for all the versions until further notice. So the article you add will be together with the old versions of the same topic. For now, there’s nothing else to do there!</p>
<p>After your article gets merged, I’ll update the <a href="https://our.umbraco.com/documentation/Umbraco9Articles">Umbraco 9 Articles landing page</a> with a link to your article. </p>
<p> </p>
<h2>Some other V9 news!</h2>
<p>As of June 22, the Beta 4 version was released for V9! If you haven’t already, you should get your hands dirty trying it out. You can find how to get V9 up and running with <a href="https://our.umbraco.com/documentation/UmbracoNetCoreUpdates#steps-to-install-the-umbraco-dotnet-new-template">this article</a>.</p>
<p>While the beta versions are coming in, package development from the Community and HQ is also speeding up. On Friday, June 4, a beta release of the Umbraco Forms package for V9 was released too! </p>
<p><br><br></p>
<h2>Codegarden takeaways</h2>
<p>Talking about packages reminded me of the awards for this year! I hope you all watched Codegarden 2021 - if not, you should asap for sure, as all the talks and some of the fun is all on <a href="https://www.youtube.com/playlist?list=PLG_nqaT-rbpx6wIDr5ufUlbHkg6qB3sxH">YouTube</a>! </p>
<p>Personally, it was my first-ever Codegarden. I was supposed to go last year but you know corona sucks...so I was happy HQ decided to go through to make it happen virtually this year. </p>
<p>I am one of the luckiest ones as my boss booked our times off from work for us to fully enjoy Codegarden! Virtual or not, I got the hyped feeling, had so much fun, and learned so many things watching this year's Codegarden, therefore I can’t wait to attend IRL next year! 🤞🏼</p>
<p>Let’s check the awards 👇🏼</p>
<p> </p>
<h3>Umbraco Awards</h3>
<ul>
<li aria-level="1"><strong>Best Cloud Solution</strong> Brightwire with <a href="https://www.legalombudsman.org.uk/">Digital transformation for the Legal Ombudsman</a>.</li>
<li aria-level="1"><strong>Best Custom Solution</strong> Mentor Digital with <a href="https://www.mentordigital.co.uk/work/ncc-lms-website/">National Composites Centre - Learning Management System</a>.</li>
<li aria-level="1"><strong>Best Designed Site</strong> Knowit Experience with <a href="https://www.opera.se/">GöteborgsOperan</a>.</li>
<li aria-level="1"><strong>Best Editing Experience</strong> Bump Digital with <a href="https://www.cakeshop.com/uk/">Cakeshop.com</a>.</li>
<li aria-level="1"><strong>Best Public Sector Solution</strong> DXS powered by agap2IT with <a href="https://www.carris.pt/">CARRIS</a>.</li>
<li aria-level="1"><strong>Best Healthcare Solution</strong> I-ology with <a href="https://www.sonoraquest.com/">Sonora Quest Laboratories Digital Transformation</a>.</li>
<li aria-level="1"><strong>Best Gold Partner Solution</strong> Phases with <a href="https://www.voting.nyc/">NYC Votes, a website for 5.5M New Yorkers</a>.</li>
<li aria-level="1"><strong>Best Certified Partner Solution</strong> DXS powered by agap2IT with <a href="https://www.carris.pt/">CARRIS</a>.</li>
<li aria-level="1"><strong>Jury's Choice Award </strong>Zeroseven with <a href="https://www.givit.org.au/">GIVIT</a>. </li>
</ul>
<p> </p>
<p><strong><a href="https://umbraco.com/blog/umbraco-awards-2021/" title="Umbraco Awards 2021">Read more about the Umbraco Awards winners here.</a></strong></p>
<p> </p>
<h3>MVP Awards; 17 New and 45 Renewed</h3>
<p><strong><a href="https://umbraco.com/blog/the-umbraco-2021-mvps/" title="The Umbraco 2021 MVPs">Read all the names here! </a></strong></p>
<p>A huge #h5yr to all award winners from the Curators Team!! (Editor's Note: Including Busra herself!)</p>
</div>
</div>
</div>
</div>
<div class="umb-container">
<div class="columns">
<div class="column is-6 grid-section__cell">
<div class="content grid-section__cell-content"><picture><source data-srcset="/media/u5gffn3v/busra-bitmoji2.png?quality=80&amp;format=webp" type="image/webp"><img class="" src="https://umbraco.com/media/u5gffn3v/busra-bitmoji2.png?quality=80" alt="Busra Şengül MVP" data-src="/media/u5gffn3v/busra-bitmoji2.png?quality=80"></picture>
<p class="caption image-caption">Busra Bitmoji holding up the sign, "You da real MVP!"</p>
</div>
</div>
<div class="column is-6 grid-section__cell">
<div class="content grid-section__cell-content"><picture><source data-srcset="/media/y10fxjap/h5yr_wht.png?quality=80&amp;format=webp" type="image/webp"><img class="" src="https://umbraco.com/media/y10fxjap/h5yr_wht.png?quality=80" alt="H5YR in speech buble" data-src="/media/y10fxjap/h5yr_wht.png?quality=80"></picture>
<p class="caption image-caption">#H5YR</p>
</div>
</div>
</div>
</div>
<div class="umb-container">
<div class="columns">
<div class="column is-12 grid-section__cell">
<div class="content grid-section__cell-content">
<h2>uDAD</h2>
<p>Last year we had a day to ask how you benefited from documentation and we wanted you to tweet about it with #uDAD. <strong>uDAD stands for Umbraco Documentation Appreciation Day! </strong>We had really nice posts last year.</p>
<p>We decided to do the same thing this year before the V9 release, but this year we want you to tell us what you want to see in V9 documents and maybe some recommendations.</p>
<p><strong>How about we make the 16th of July uDAD day and maybe even combine it with #umbracoTees day?</strong></p>
<p> </p>
<h2><strong>Some Numbers</strong></h2>
<ul>
<li>Number of total PRs - 60</li>
<li>Number of total issues - 16</li>
<li>Number of total new contributors - 9</li>
</ul>
</div>
</div>
</div>
</div>
<div class="umb-container">
<div class="columns">
<div class="column is-6 grid-section__cell" data-vertical-position="Middle">
<div class="content grid-section__cell-content"><picture><source data-srcset="/media/un2lg4e5/busra-bitmoji.png?quality=80&amp;format=webp" type="image/webp"><img class="" src="https://umbraco.com/media/un2lg4e5/busra-bitmoji.png?quality=80" alt="Busra Şengül MVP" data-src="/media/un2lg4e5/busra-bitmoji.png?quality=80"></picture>
<p class="caption image-caption">Busra Bitmoji dropping mic</p>
</div>
</div>
<div class="column is-6 grid-section__cell" data-vertical-position="Middle">
<div class="content grid-section__cell-content">
<p>60new PRs and 16 new issues have been created! In total, we’ve merged in 54 new updates to the docs over the last couple of months both from HQ and from the community.</p>
<p><strong>Thank you so much everyone for your contributions and dedication for Umbraco. </strong><strong>That’s it from us today!</strong></p>
<p> </p>
<p>Toddlepip</p>
<p><strong>Busra</strong></p>
</div>
</div>
</div>
</div>]]></Value>
    </bodyText>
    <categories>
      <Value><![CDATA[[
  "Community",
  "Documentation",
  "Umbraco"
]]]></Value>
    </categories>
    <introText>
      <Value><![CDATA[This is the first blog from Documentation Curators’ team in Sofie’s absence.]]></Value>
    </introText>
    <publishedOn>
      <Value><![CDATA[2021-07-05T00:00:00]]></Value>
    </publishedOn>
    <subtitle>
      <Value><![CDATA[WIP projects: Codegarden and uDAD!]]></Value>
    </subtitle>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "21f0d471-8d67-4618-90d0-80b633518a5f",
    "mediaKey": "9ad4373b-2a4b-48d1-bcc4-3adb6fb4d6bd"
  }
]]]></Value>
    </thumbnailImage>
    <title>
      <Value><![CDATA[From the Documentation Curators]]></Value>
    </title>
  </Properties>
</Content>