<?xml version="1.0" encoding="utf-8"?>
<Content Key="87469f4f-aa42-4f08-8f03-8053ba98d0fb" Alias="Hosting" Level="3">
  <Info>
    <Parent Key="8ecd9a4d-2469-4209-92e1-2388fbcb7c12">Works</Parent>
    <Path>/Welcome/Works/Hosting</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-02T09:18:05</CreateDate>
    <NodeName Default="Hosting" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="93da5373-25fe-4bfc-95bf-c4239664f63e">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>