<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b5db337-0e8d-4602-af02-039b88e99a33" Alias="Umbraco by Industry" Level="3">
  <Info>
    <Parent Key="8ecd9a4d-2469-4209-92e1-2388fbcb7c12">Works</Parent>
    <Path>/Welcome/Works/UmbracoByIndustry</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-02T09:18:24</CreateDate>
    <NodeName Default="Umbraco by Industry" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="93da5373-25fe-4bfc-95bf-c4239664f63e">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>