<?xml version="1.0" encoding="utf-8"?>
<Content Key="7639dc3b-d8e2-4818-b066-ab18e0b36b6f" Alias="Umbraco Extensions" Level="3">
  <Info>
    <Parent Key="8ecd9a4d-2469-4209-92e1-2388fbcb7c12">Works</Parent>
    <Path>/Welcome/Works/UmbracoExtensions</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-02T09:17:56</CreateDate>
    <NodeName Default="Umbraco Extensions" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="93da5373-25fe-4bfc-95bf-c4239664f63e">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>