<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c8b7002-ed69-406e-9a31-c4b65d7b710b" Alias="Welcome" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Welcome</Path>
    <Trashed>false</Trashed>
    <ContentType>footer</ContentType>
    <CreateDate>2023-09-26T09:20:28</CreateDate>
    <NodeName Default="Welcome" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="625def4e-34a6-42f2-8d91-4594bed8e70e">HomePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p><strong>Quote:</strong></p>
<p>Definitio: 'Amor' facit schotum ad genua scuti 120 chiliometrorum ablato aratech sniper sclopetum utens cum scopo trilineo... Amor scopum tuum cognoscit, eos in reticulo tuo ponens, simulque obtinendo. singulari proposito contra peraeque diu committere.</p>]]></Value>
    </bodyText>
    <footerText>
      <Value><![CDATA[Copyright Umbraco 2023]]></Value>
    </footerText>
    <pageTitle>
      <Value><![CDATA[Welcome to Umbraco]]></Value>
    </pageTitle>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>